* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 90px; /* to avoid the nav bar */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* navigation bar */
nav {
    top: 0;
    width: 100% ;
    height: 60px;
    background-color:black;
    position: fixed;
    z-index: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-image: url(images/hamburger_button.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

#title_he {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.header_links {
    display: flex;
    flex-wrap: wrap;
}

.header_links li {
    list-style: none;
}

.header_links li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px 0 0;
    line-height: 60px; /* This should be the same as the height of the header*/
}

/* hamburger menu */
.nav-sidebar {
    visibility: hidden;
    position: fixed; /* Changed from float */
}

.nav-sidebar ul {
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px;
    line-height: 60px; /* This should be the same as the height of the header*/
    white-space: nowrap;
    opacity: 0;
    transition: all  0.1s ease-in-out;
}

.nav-sidebar ul li a:hover {
    background-color: #2e2e2e;
}

/* -- Footer -- */

footer {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    bottom: 0;
    margin-top: 80px;
    border-top: 1px solid black;
}

footer a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

/* --- Welcome --- */

.links {
    text-decoration: none;
    color: #2d66f1;
}

/* The next things are for the details and picture */

#container_details_and_picture {
    display: flex;           /* Enable flexbox */
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Centre vertically */
    align-items: center;     /* Centre horizontally */
    height: fit-content;
    width: 100%;             /* Full width */
}

#hello_with_name {
    margin-bottom: 40px;
}

#my_profile_img {
    border-radius: 10px;
}

#contact_icons {
    width: 300px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* description text */

.description_text {
    padding: 5%;
}

.listing_in_text {
    padding: 0 0 0 30px;
    list-style-type: circle;
}

/* 3D model */
.container_rot_mod {
    display: flex;
    justify-content: center;
}

.rot_mod {
    padding: 15px;
}

/* ---- Research page ---- */

.sections_research_page {
    width: 90%;
    margin-bottom: 20px;
}

.h3_title {
    margin-bottom: 20px;
}


#list_of_papers {
    padding: 0 0 0 20px;
    list-style-type: circle;
}

#table_workshop_course {
    border-collapse: collapse;
    width: 100%;
}
  
#table_workshop_course th,td {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

.research_link{
    text-decoration: none;
    color: 	#2d66f1;
}


/* ---- Gallery ---- */

.image_container {
    text-align: center;
    margin: 5%;
}

.gallery_image {
    width: 90%;
    max-width: 600px;
}


/* ---- Privacy Policy ---- */

#privacy_policy_container {
    padding: 0 5% 5% 5%;
    width: 80%;
}

.section_privacy_policy {
    margin-bottom: 20px;
}

/* Responsive website */

  /* mobile version */
  @media only screen and (max-width: 600px) {

    /* --- Fonts --- */
    body {
        font-size: 14px;
    }

    /* navigation bar */
    
    #title_he {
        font-size: 18px;
    }

    /* -- Welcome -- */

    #hello_with_name {
        font-size: 24px;
    }

    /* description text */
    .description_text {
        width: 90%;
        padding: 20px;
    }

    /* 3D model */
    .container_rot_mod {
        width: 600px;
    }

    /* ---- Research page ---- */

    #list_of_papers {
        width: 90%;
        padding: 0 0 0 10%;
    }

    /* table for workshops*/

    #table_workshop_course {
        font-size: 12px;
    }
  }


  