* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    height: 100%;
    position: relative;
}

/* wrapper */
.wrapper {
    position: relative; /* Added */
    width: 100%;
    height: 100%;
}

/* navigation bar */
nav {
    top: 0;
    width: 100% ;
    height: 60px;
    background-color: 	#000000 ;
    position: fixed;
    z-index: 100000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-image: url(images/hamburger_button.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

#title_he {
    color: white;
    padding: 15px; 
}

.header_links {
    display: flex;
    flex-wrap: wrap;
}

.header_links li {
    list-style: none;
}

.header_links li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px 0 0;
    line-height: 60px; /* This should be the same as the height of the header*/
}

/* hamburger menu */
.nav-sidebar {
    visibility: hidden;
    position: fixed; /* Changed from float */
}

.nav-sidebar ul {
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px;
    line-height: 60px; /* This should be the same as the height of the header*/
    white-space: nowrap;
    opacity: 0;
    transition: all  0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
    background-color: #2e2e2e;
}

/* container */
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* welcome */
.links {
    text-decoration: none;
    color: #2d66f1;
}

.details ul li {
    text-decoration: none;
    padding: 0 20px 0 0;
    list-style: none;
}

/* News */
#news_box{
    width: 400px;
    height: fit-content;
    padding: 20px;
    border: #72757d;
    border-radius: 20px;
    border-style: solid;
}

.news_link{
    text-decoration: none;
    color: 	#2d66f1;
}

/* description text */
.description_text {
    padding: 100px;
}

.listing_in_text {
    padding: 0 0 0 30px;
}

/* 3D model */
.container_rot_mod {
    display: flex;
    justify-content: center;
}

.rot_mod {
    padding: 15px;
}

/* Research page*/
.h3_title {
    padding: 0 0 0 30px;
}


#list_of_papers {
    padding: 0 0 0 60px;
}

#table_workshop_course {
    border-collapse: collapse;
    width: 90%;
  }
  
#table_workshop_course td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }

  .research_link{
    text-decoration: none;
    color: 	#2d66f1;
  }


/* Gallery */
.container_all_images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_container {
    text-align: center;
    margin: 20px auto; /* Center the container horizontally and add margin */
}






  /* Responsive website */

  /* normally, things should work porperly when i set the width to 100%. However, it doesn't work. Therefore, I have to set the width manually every time */

  /* mobile version */
  @media only screen and (max-width: 600px) {
    /* navigation bar */
    nav {
        width: 600px; /* I don't know why is it not taking the whole 600px when I set the width to 100% */
    }


    .wrapper {
        width: 80%;
    }

    /* container */
    .container {
        width: 80%;
        display: block;
    }

    /* welcome */
     .details {
        width: 570px;
        padding: 10px;
     }

    /* description text */
    .description_text {
        width: 570px;
        padding: 10px;
    }

    .listing_in_text {
        padding: 0 0 0 30px;
    }

    /* 3D model */
    .container_rot_mod {
        width: 600px;
    }

    /* table for workshops*/
    #table_workshop_course {
        border-collapse: collapse;
        width: 600px;
        padding: 10px;
    }
  }


  /* Tablet version */
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    /* navigation bar */
    nav {
        width: 1023px; /* I don't know why is it not taking the whole 1023px when I set the width to 100% */
    }


    .wrapper {
        width: 80%;
    }

    /* container */
    .container {
        width: 80%;
        display: block;
    }

    /* welcome */
     .details {
        width: 1000px;
        padding: 10px;
     }

    /* description text */
    .description_text {
        width: 1000px;
        padding: 10px;
    }

    .listing_in_text {
        padding: 0 0 0 30px;
    }

    /* 3D model */
    .container_rot_mod {
        width: 1000px;
    }

    /* table for workshops*/
    #table_workshop_course {
        border-collapse: collapse;
        width: 1023px;
        padding: 10px;
    }
  }
  