* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: white;
    height: 100%;
}

/* navigation bar */
nav {
    top: 0;
    width: 100% ;
    height: 60px;
    background-color: #00A064 ;
}

#title_he {
    color: white;
    padding: 15px; 
}

#header_links li {
    display: inline;
    float: right;
    list-style: none;
}

#header_links li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px 0 0;
    line-height: 60px; /* This should be the same as the height of the header*/
}

/* container */

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* welcome */

.links {
    text-decoration: none;
    color: #3FC283;
}

.details ul li {
    text-decoration: none;
    padding: 0 20px 0 0;
    list-style: none;
}

/* News */
#news_box{
    width: 400px;
    height: fit-content;
    padding: 20px;
    border: #00A064;
    border-radius: 20px;
    border-style: solid;
}

.news_link{
    text-decoration: none;
    color: #3D3DC2;
}

/* description text and rotating model */

.description_text {
    padding: 100px;
}

.listing_in_text {
    padding: 0 0 0 30px;
}

/* table for workshops*/

.table_workshop {
    border-collapse: collapse;
    width: 90%;
  }
  
.table_workshop td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }

  .workshop_link{
    text-decoration: none;
    color: #3D3DC2;
  }